<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="B4APaw AudioTap"
        android:supportsRtl="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Diagnostic WhatsApp playback audio capture for B4APawCall" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
